<div>
    <div class="row" style="font-size: 22px;padding-left: 7px;">
        <div class="col-md-6">Welcome : @HttpContext.Current.User.Identity.Name</div>
        <div class="col-md-6">@ViewBag.Datetime</div>
    </div>
</div>
