@model MVCApp.Models.CraneMapping
    @{ 
        <div>
            @Html.DropDownListFor(model =>model.ItemCode, (IEnumerable<SelectListItem>)ViewBag.Crane, new { @class = "form-control input-sm" })
        </div>
        <!--This is test-->
    }
