@model MVCApp.Models.CraneMapping
    @{ 
        <div>
            @Html.DropDownListFor(model => model.PlantCode,(IEnumerable<SelectListItem>)ViewBag.Unit,new { @class = "form - control input-sm " })
        </div>
    }
