@model MVCApp.Models.OtherSuffix
    @{ 
        <div>
            @Html.DropDownListFor(model => model.PlantFcode, (IEnumerable<SelectListItem>)ViewBag.PlantFcode, new {@class ="form-control input-sm"})
        </div>
    }
