@model MVCApp.Models.OtherSuffix
@{
    <div>
        @Html.DropDownListFor(model => model.PlantExport, (IEnumerable<SelectListItem>)ViewBag.PlantExport, new { @class = "form-control  input-sm" })
    </div>
}

