@model MVCApp.Models.OtherSuffix
@{
    <div>
        @Html.DropDownListFor(model => model.PlantBattery, (IEnumerable<SelectListItem>)ViewBag.PlantBattery, new { @class = "form-control  input-sm" })
    </div>
}

