@model MVCApp.Models.Store
    @{ 
        <div>
            @Html.DropDownListFor(model =>model.PlantSuper , (IEnumerable<SelectListItem>)ViewBag.PlantSuper, new { @class = "form-control input-sm"})
        </div>
    }
