@model MVCApp.Models.Store
    @{ 
        <div>
            @Html.DropDownListFor(model =>model.FamilyStore, (IEnumerable<SelectListItem>)ViewBag.FamilyStore, new { @class = "form-control input-sm"})
        </div>
    }
