@model MVCApp.Models.Store
    @{ 
        <div>
            @Html.DropDownListFor(model => model.FamilySuper , (IEnumerable<SelectListItem>)ViewBag.FamilySuper , new { @class = "form-control input-sm"})
        </div>
    }
