@model MVCApp.Models.ItemModel
    @{ 
        <div>
            @Html.DropDownListFor(model => model.Stage,(IEnumerable<SelectListItem>)ViewBag.Stage,new {@class = "form-control  input-sm" })
        </div>
    }

