@model MVCApp.Models.EngineModel

@{
    <div>
        @Html.DropDownListFor(model => model.CYLINDER_HEAD, (IEnumerable<SelectListItem>)ViewBag.CYLINDER_HEAD, new { @class = "form-control  input-sm" })
    </div>
}

