@model MVCApp.Models.EngineModel

@{
    <div>
        @Html.DropDownListFor(model => model.FUEL_INJECTION_PUMP, (IEnumerable<SelectListItem>)ViewBag.FUALPUMP, new { @class = "form-control  input-sm" })
    </div>
}




