@model MVCApp.Models.EngineModel

@{
    <div>
        @Html.DropDownListFor(model => model.CONNECTING_ROD, (IEnumerable<SelectListItem>)ViewBag.CONNECTING_ROD, new { @class = "form-control  input-sm" })
    </div>
}



