@model MVCApp.Models.BulkStorage
    @{ 
        <div>
            @Html.DropDownListFor(model => model.Plant, (IEnumerable<SelectListItem>)ViewBag.Plant, new { @class = "form-control input-sm" })

        </div>
        }
