<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>

<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="table-responsive">
        @{
            List<object> commands = new List<object>();
            //commands.Add(new { buttonOption = new { iconCss = "e-icons e-edit", cssClass = "edit" } });
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-delete", cssClass = "delete" } });
        }

        @(Html.EJS().Grid("Grid1").DataSource((System.Data.DataTable)ViewBag.DataSource).
                AllowPaging(true).
                PageSettings(Page => Page.PageSize(15)).

                AllowFiltering().
                AllowGrouping().
                AllowSorting().
                AllowSelection().
                AllowTextWrap().

                Columns(col =>
                {

                    col.Field("AUTOID").HeaderText("AUTOID").IsPrimaryKey(true).Visible(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("PLANT_CODE").HeaderText("PLANT").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("100").Add();
                    col.Field("FAMILY_CODE").HeaderText("FAMILY").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("150").Add();
                    col.Field("PARAMETERINFO").HeaderText("PARAMETERINFO").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("170").Add();
                    col.Field("PARAMVALUE").HeaderText("PARAMVALUE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("100").Add();
                    col.Field("DESCRIPTION").HeaderText("DESCRIPTION").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("150").Add();
                    col.Field("STATUS").HeaderText("STATUS").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("100").Add();
                    col.Field("CREATED_BY").HeaderText("CREATED_BY").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("100").Add();
                    col.Field("CREATED_DATE").HeaderText("CREATED_DATE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width("150").Add();


                }).AllowExcelExport().
                ToolbarClick("toolbarClick")
                .Toolbar(new List<string>() { "ExcelExport" })
                .SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Multiple)).CommandClick("commandClick").//AllowRowDragAndDrop().
                Render())


        <script>

            


            function toolbarClick(args) {
                var gridObj = document.getElementById("Grid1").ej2_instances[0];
                gridObj.excelExport();
            }
            var AutoId;
            function commandClick(args) {
                if (args.rowData != null) {
                    
                }
            };
            

        </script>
    </div>
</div>


@Html.EJS().ScriptManager()




