@model MVCApp.Models.BeforePaintAssemblyModel
@{
    <div>
        @Html.DropDownListFor(a => a.Plant, (IEnumerable<SelectListItem>)ViewBag.Unit, new { @class = "form-control input-sm" })
    </div>
}

