@model MVCApp.Models.StageMsterModel

@{
    <div>
        @Html.DropDownListFor(model => model.OFFLINEITEMS, (IEnumerable<SelectListItem>)ViewBag.Stage, new { @class = "form-control  input-sm" })
    </div>
}


