@model MVCApp.Models.UserMaster
@if (ViewBag.PUNAME != null)
{
<div>
    @Html.DropDownListFor(model => model.PUNAME, (IEnumerable<SelectListItem>)ViewBag.PUNAME, new { @class = "form-control input-sm" })
</div>
}

