<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }

        #dropdown {
            position: relative;
            height: 22px;
            width: 10em;
            text-align: left;
            background-color: white;
        }

        .highcontrast .e-grid #dropdown {
            background-color: black;
        }
        
       
    </style>

    <div class="table-responsive">       
        @(Html.EJS().Grid("GridHistort").DataSource((System.Data.DataTable)ViewBag.DataSourceH).
           
                        AllowPaging(true).
                        PageSettings(Page => Page.PageSize(15)).
                        AllowExcelExport().
                        ToolbarClick("toolbarClick").
                        AllowFiltering().
                        //AllowGrouping().
                        AllowSorting().
                        AllowSelection().
                        AllowTextWrap().
                        AllowResizing().
                        EnableAutoFill(true).
                        AllowReordering().


                Columns(col =>
                {
                    col.Field("MRN_NO").HeaderText("MRN NO").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(140).Add();
                    col.Field("ITEMCODE").HeaderText("ITEM CODE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(140).Add();
                    col.Field("ITEM_DESCRIPTION").HeaderText("DESCRIPTION").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(350).Add();
                    col.Field("VENDOR_CODE").HeaderText("V.CODE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(125).Add();
                    col.Field("VENDOR_NAME").HeaderText("V.NAME").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(280).Add();
                    col.Field("VEHICLE_NO").HeaderText("VEHICLE NO.").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(130).Add();
                    col.Field("QUANTITY").HeaderText("QTY.").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(90).Add();
                    col.Field("CREATEDDATE").HeaderText("CREATED DATE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(170).Add();
                    //col.Field("CREATEDTIME").HeaderText("CREATED TIME").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(170).Add();
                    col.Field("STATUS").HeaderText("STATUS").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(105).Add();
                    col.Field("STORE_VERIFIED").HeaderText("VERIFIED").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(130).Add();
                    col.Field("STORE_VERIFIEDBY").HeaderText("VERIFIED BY").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(130).Add();
                    col.Field("STORE_VERIFIEDDATE").HeaderText("VERIFIED DATE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Width(180).Add();
                }).Toolbar(new List<string>() { "ExcelExport" }).Render())       
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GridHistort").ej2_instances[0];
                gridObj.excelExport();
            }
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()





