
@model MVCApp.Models.AddDailyPlanModel

@{
    <div>
        @Html.DropDownListFor(Model => Model.ItemCode, (IEnumerable<SelectListItem>)ViewBag.SubAssembly2, new { @class = "form-control input-sm" })
    </div>
}


