@model MVCApp.Models.SubAssemblyMapping

@{
    <div>
        @Html.DropDownListFor(Model => Model.SubAssembly2, (IEnumerable<SelectListItem>)ViewBag.SubAssembly2, new { @class = "form-control input-sm" })
    </div>
}



