@model MVCApp.Models.SubAssemblyMapping

@{
    <div>
        @Html.DropDownList("SubAssembly", (IEnumerable<SelectListItem>)ViewBag.SubAssembly, new { @class = "form-control input-sm" })
    </div>
}



