@model MVCApp.Models.AddDailyPlanModel

@{
    <div>
        @Html.DropDownListFor(Model => Model.Tyres, (IEnumerable<SelectListItem>)ViewBag.Tyres, "----Select----", new { @class = "form-control input-sm" })
    </div>
}

