@model MVCApp.Models.AddDailyPlanModel

@{
    <div>
        @Html.DropDownListFor(Model => Model.ModelType, (IEnumerable<SelectListItem>)ViewBag.ModelType, "---- Select ----", new { @class = "form-control input-sm" })
    </div>
}


