@model MVCApp.Models.AddDailyPlanModel

@{
    <div>
        @Html.DropDownListFor(Model => Model.BackendItemFcodes, (IEnumerable<SelectListItem>)ViewBag.Items, new { @class = "form-control input-sm" })
    </div>
}


