@model MVCApp.Models.AddDailyPlanModel

@{
    <div>
        @Html.DropDownListFor(Model => Model.Plant, (IEnumerable<SelectListItem>)ViewBag.Unit, new { @class = "form-control input-sm" })
    </div>
}

