@model MVCApp.Models.BackendModel

@{
    <div>
        @Html.DropDownListFor(model => model.TRANSMISSION, (IEnumerable<SelectListItem>)ViewBag.TRANSMISSION, new { @class = "form-control input-sm" })
    </div>
}
}
