@model MVCApp.Models.BackendModel

@{
    <div>
        @Html.DropDownListFor(model => model.FAMILY_CODE, (IEnumerable<SelectListItem>)ViewBag.FAMILY_CODE, new { @class = "form-control input-sm" })
    </div>
}


