@model MVCApp.Models.BackendModel

@{
    <div>
        @Html.DropDownListFor(model => model.BACKEND, (IEnumerable<SelectListItem>)ViewBag.BACKEND, new { @class = "form-control input-sm" })
    </div>
}

