@model MVCApp.Models.BackendModel

@{
    <div>
        @Html.DropDownListFor(model => model.REARAXEL, (IEnumerable<SelectListItem>)ViewBag.REARAXEL, new { @class = "form-control input-sm" })
    </div>
}

