@model MVCApp.Models.AddDailyPlanModel

@{
    <div>
        @Html.DropDownListFor(Model => Model.Shift, (IEnumerable<SelectListItem>)ViewBag.Shift, new { @class = "form-control input-sm" })
    </div>
}

