@model MVCApp.Models.TractorMster
@{
    <div>
        @Html.DropDownListFor(Model => Model.T3_Plant, (IEnumerable<SelectListItem>)ViewBag.Unit, new { @class = "form-control input-sm" });
    </div>
}


