@model MVCApp.Models.TractorMster

@{
    <div>
        @Html.DropDownListFor(Model => Model.Family, (IEnumerable<SelectListItem>)ViewBag.Family, new { @class = "form-control input-sm" })
    </div>
}


